{% extends 'base.html.twig' %}

{% block title %}Genre Index{% endblock %}

{% block body %}
    <h1 class="my-4">Genre Index</h1>

    <table class="table table-hover table-striped">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for genre in genres %}
            <tr>
                <td>{{ genre.id }}</td>
                <td>{{ genre.nom }}</td>
                <td>{{ genre.description }}</td>
                <td>
                    <a href="{{ path('app_genre_show', {'id': genre.id}) }}" class="btn btn-info btn-sm">Voir</a>
                                                    {% if is_granted('ROLE_ADMIN') %}

                    <a href="{{ path('app_genre_edit', {'id': genre.id}) }}" class="btn btn-warning btn-sm">Modifier</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="text-center">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_genre_new') }}" class="btn btn-success mt-3">Ajouter genre</a>
{% endif %}
{% endblock %}
